<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
      <form action="/removeintern">
   <h3>SEARCH INTERN</h3>
   
    <hr>
 
    <label for="phn"><b>Enter Phone no</b></label>
    <input type="phone" placeholder="Type phone no to be searched" name="phone" id="phone" required>

    <button type="submit" class="registerbtn">Delete Intern</button>
    <a href="./" style="color:rgb(255, 255, 255)">BACK TO HOME PAGE</a>

    <br>
    {{#if mesg1}}
    <h3>Data deleted!</h3>
    {{/if}}

     {{#if mesg2}}
    <h3>Not found!</h3>
    {{/if}}
    </form>
  </div>
</body>
</html>