<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>
<style>
  *{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ffffff;
    font-size: 16px;
    font-family: "Oxygen" , sans-serif;
}
.navbar{
    background-color: #2d1200;
   border: 0;
   height: 60px;
}

.navbar span{
    position: relative;
    top: 25%;;
    left:30px;
    color: #ffffff;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
.navbar a{
    position: relative;
    left: 30%;
    top: 22%;
    font-weight: 900;
    font-size: 18px;
    padding-right: 10px;
}
a:visited, a:link{
    color:#ffffff;
    text-decoration: none;
}
a:hover,a:active{
    color: rgba(222, 155, 93, 0.673);
}
.container{

    margin-top: 300px;
    font-size: 20px;
    font-weight: 800;
    width: 850px;
    text-align: center;
    align-content: center;
 
}
</style>
</head>
<body>
<div class="navbar">
   <span>IP Internship Portal</span>
</div>
<div class="container">
    <a href="/add">Add Intern</a>
   &nbsp;
   <a href="/search">Search Intern</a>
   &nbsp;
   <a href="/delete">Delete Intern</a>
   &nbsp;
   <a href="/view">View Intern</a>
   &nbsp;
   <a href="/update">Update Intern</a>
   &nbsp;

</div>


</body>
</html>